@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Colors & Fonts */
:root {
    --colorText: #fffbf2;
    --colorPrimary: #dc91b7;
    --colorBtn: #770a2e;
    --fontMain: 'Poppins', sans-serif;
}

/* Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: var(--fontMain);
}

/* Headers */
header {
    padding: 0.5rem 0 0.5rem 2rem;
    color: var(--colorText);
    background-color: var(--colorPrimary);
    text-align: center;
    margin-bottom: 4rem;
}

/* Main */
main {
    padding: 0.5rem;
    line-height: 1.4rem;
    @media (min-width: 1024px) {
        width: 90%;
        margin: auto;
    }
    @media (min-width: 1224px) {
        width: 80%;
        margin: auto;
    }
}

/* CD Table */
table {
    visibility: hidden;
    margin-top: 6rem;
    width: 100%;
    table-layout: auto;
    border: solid thin var(--colorPrimary);    
    > thead {
        color: var(--colorText);
        background-color: var(--colorPrimary);
        text-align: left;
    }
    th, tr {
        padding: 0 0.5rem;
    }
    th.del, td.del {
        text-align: right;
    }
}

/* Form */
form {
    > div {
        margin-bottom: 0.5rem;
    }
    label {
        width: 6rem;
    }
    input {
        &[type=text] {
            display: block;
            width: 100%;
        }
        &[id=txtYear] {
            float: right;
            display: inline;
            width: auto;
            text-align: right;
        }
        @media (min-width: 480px) {
            &.txtInput {
                float: right;
                width: calc(100% - 6rem);
                display: inline;        
            }
        }        
        &[type=submit] {
            margin-top: 0.5rem;
            padding: 0.25rem 1rem;
            border-radius: 0.25rem;
            font-family: var(--fontMain);
            font-size: 1.2rem;    
            color: var(--colorText);
            background-color: var(--colorBtn);
            float: right;
        }
    }
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.25rem 0 0.25rem 0;
    color: var(--colorText);
    background-color: var(--colorPrimary);
    text-align: center;
}

/* Visiblity */
.visible {
    visibility: visible;
}

/* Images */
img.delete {
    cursor: pointer;
}